<!--begin::Base Scripts -->
<script src="{{ 'assets/vendors/base/vendors.bundle.js'|theme }}" type="text/javascript"></script>
<script src="{{ 'assets/demo/default/base/scripts.bundle.js'|theme }}" type="text/javascript"></script>
<!--end::Base Scripts -->
<!--begin::Page Vendors -->
<script src="{{ 'assets/vendors/custom/fullcalendar/fullcalendar.bundle.js'|theme }}" type="text/javascript"></script>
<!--end::Page Vendors -->
<!--begin::Page Snippets -->
<script src="{{ 'assets/app/js/dashboard.js'|theme }}" type="text/javascript"></script>
<!--end::Page Snippets -->

{% framework extras %}
{% scripts %}