<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
    <i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
    <!-- BEGIN: Aside Menu -->
    <div
            id="m_ver_menu"
            class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
            m-menu-vertical="1"
            m-menu-scrollable="0" m-menu-dropdown-timeout="500"
    >
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
            <li class="m-menu__item {{ this.page.id=='dashbord' ? 'm-menu__item--active' : '' }} " aria-haspopup="true">
                <a href="{{ 'dashbord'|page }}" class="m-menu__link ">
                    <i class="m-menu__link-icon flaticon-line-graph"></i>
                    <span class="m-menu__link-title">
										<span class="m-menu__link-wrap">
											<span class="m-menu__link-text">
												{{ 'Panel'|_ }}
											</span>

										</span>
									</span>
                </a>
            </li>
            <li class="m-menu__section">
                <h4 class="m-menu__section-text">
                    {{ 'MENU'|_ }}
                </h4>
                <i class="m-menu__section-icon flaticon-more-v3"></i>
            </li>

            {% if isAddApp(user.id,user.apps.count) %}
            <li class="m-menu__item  m-menu__item--submenu  {{ this.page.id=='send-push' ? 'm-menu__item--active' : '' }}" aria-haspopup="true" m-menu-submenu-toggle="hover">
                <a href="{{ 'add-new-app'|page }}" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-paper-plane"></i>
                    <span class="m-menu__link-text">
										{{ 'Yeni Site Ekle '|_ }}
									</span>
                </a>
            </li>
            {% endif %}
             <li class="m-menu__item  m-menu__item--submenu  {{ this.page.id=='send-push' ? 'm-menu__item--active' : '' }}" aria-haspopup="true" m-menu-submenu-toggle="hover">
                <a href="{{ 'send-push'|page }}" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-paper-plane"></i>
                    <span class="m-menu__link-text">
										{{ 'Bildirim Gönder'|_ }}
									</span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu  {{ this.page.id=='notification' ? 'm-menu__item--active' : '' }}" aria-haspopup="true" m-menu-submenu-toggle="hover">
                <a href="{{ 'notification'|page }}" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-alert-1"></i>
                    <span class="m-menu__link-text">
										{{ 'Gönderilenler'|_ }}
									</span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu {{ this.page.id=='waiting-nottification' ? 'm-menu__item--active' : '' }}" aria-haspopup="true" m-menu-submenu-toggle="hover">
                <a href="{{ 'waiting-nottification'|page }}" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-alert-1"></i>
                    <span class="m-menu__link-text">
										{{ 'Bekleyen Gönderiler'|_ }}
									</span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu {{ this.page.id=='rapor' ? 'm-menu__item--active' : '' }}" aria-haspopup="true" m-menu-submenu-toggle="hover">
                <a href="{{ 'rapor'|page }}" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-alert-1"></i>
                    <span class="m-menu__link-text">
										{{ 'Raporlar'|_ }}
									</span>
                </a>
            </li>


            <li class="m-menu__item  m-menu__item--submenu {{ this.page.id=='site-code' ? 'm-menu__item--active' : '' }} {{ this.page.id=='app-design' ? 'm-menu__item--active' : '' }}" aria-haspopup="true" m-menu-submenu-toggle="hover">
                <a href="javascript:;" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-settings-1"></i>
                    <span class="m-menu__link-text">
										{{ 'Ayarlar'|_ }}
									</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu ">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent {{ this.page.id=='site-code' ? 'm-menu__item--active' : '' }} {{ this.page.id=='app-design' ? 'm-menu__item--active' : '' }}" aria-haspopup="true">
											<span class="m-menu__link">
												<span class="m-menu__link-text">
													{{ 'Ayarlar'|_ }}
												</span>
											</span>
                        </li>
                        <li class="m-menu__item  {{ this.page.id=='app-design' ? 'm-menu__item--active' : '' }}" aria-haspopup="true">
                            <a href="{{ 'app-design'|page }}" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
													{{ 'Tasarımı Düzenle'|_ }}
												</span>
                            </a>
                        </li>
                        <li class="m-menu__item  {{ this.page.id=='site-code' ? 'm-menu__item--active' : '' }}" aria-haspopup="true">
                            <a href="{{ 'site-code'|page }}" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
													{{ 'Site Kodu'|_ }}
												</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>

        </ul>
    </div>
    <!-- END: Aside Menu -->
</div>