<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116132266-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-116132266-1');
</script>




<!-- ToTop trigger -->
<a href="#" id="totop">TOP</a>
<!--/ ToTop trigger -->





<!-- JS FILES // These should be loaded in every page -->
<script type="text/javascript" src="{{ 'assets/front/js/bootstrap.min.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/front/js/kl-plugins.js'|theme }}"></script>

<!-- JS FILES // Loaded on this page -->
<!-- Required script for sorting (masonry) elements - Isotope filter -->
<script type="text/javascript" src="{{ 'assets/front/js/plugins/jquery.isotope.min.js'|theme }}"></script>

<!-- Required js trigger for Portfolio sortable element -->
<script type="text/javascript" src="{{ 'assets/front/js/trigger/kl-portfolio-sortable.js'|theme }}"></script>

<!-- Custom Kallyas JS codes -->
<script type="text/javascript" src="{{ 'assets/front/js/kl-scripts.js'|theme }}"></script>

<!-- Custom user JS codes -->
<script type="text/javascript" src="{{ 'assets/front/js/kl-custom.js'|theme }}"></script>

<!-- JS FILES // These should be loaded in every page -->


<!-- JS FILES // Loaded on this page -->
<!-- Required js script file for Animated sparkles element -->

<!-- Required script for Photo gallery alternative (Caroufredsel) -->
<script type="text/javascript" src="{{ 'assets/front/js/plugins/_sliders/caroufredsel/jquery.carouFredSel-packed.js'|theme }}"></script>


<script language="javascript">
    var _prPushtr = {
        paramNode: '0SbA3NCgRdjb1tAdUR1bjfDIc2Q'
    }
</script>
<script type="text/javascript" src="//push34.com/assets/js/push34-mainOrj.js"></script>

<!-- Required js script for Laptop Slider (iOs slider) element -->
<script type="text/javascript" src="https://kallyas-premium-themeforest.netdna-ssl.com/js/plugins/_sliders/ios/jquery.iosslider.min.js"></script>

<!-- Required js trigger for Laptop Slider element -->
<script type="text/javascript" src="https://kallyas-premium-themeforest.netdna-ssl.com/js/trigger/slider/laptop-slider/kl-laptop-slider.js"></script>