
<title> Push Notifications for Web and Mobile Browsers | Dicospe </title>
<meta charset="utf-8">

<meta name="description" content="web push bildirim Windows, Android, IOS  cihazları için geliştirilen, mobil uygulamalarda ve browserlarda push notification bildirim çubuğu ile  ilgi çekici başlıklarla ve sloganlara kitlenizin ilgisini çeker ve merak uyandırırsınız  "/>
<meta name="keywords" content="push,notification, push notification, bildirim, Dicospe , mobil , bildirim, analiz,raporlama, Anlık bildirim,android push,web push bildirim"/>
<meta name="author" content="Dicospe"/>
<meta name=”owner” content= ”Dicospe” />
<meta name=”copyright” content=”2018” />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="{{ 'assets/front/images/push.png'|theme }}" sizes="16x16">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,600italic,700,800,800italic" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ 'assets/front/css/bootstrap.css'|theme }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ 'assets/front/css/sliders/laptop-slider/laptop-slider.css'|theme }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ 'assets/front/css/template.css'|theme }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ 'assets/front/css/responsive.css'|theme }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ 'assets/front/css/base-sizing.css'|theme }}" type="text/css" media="all">
<!--<link rel="stylesheet" href="css/custom.css" type="text/css" /> -->
<script type="text/javascript" src="{{ 'assets/front/js/modernizr.min.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/front/js/jquery.js'|theme }}"></script>

<link rel="stylesheet" href="{{ 'assets/front/css/niches/custom-gym.css'|theme }}" type="text/css" />

{% styles %}